<form method="post" action="" class="form-change-password">
    <input type="hidden" name="_method" value="PUT">

    {{ csrf_field() }}

    <div class="form-group">
        <label for="account-current-pass">{{__('Current Password')}}</label>
        <input
                class="form-control"
                type="password"
                id="account-current-pass"
                name="current_password"
        />
    </div>

    <div class="form-group">
        <label for="account-pass">{{__('New Password')}}</label>
        <input
                class="form-control"
                type="password"
                id="account-pass"
                name="password"
        />
    </div>

    <div class="form-group">
        <label for="account-confirm-pass">{{ __('Confirm Password') }}</label>
        <input
                class="form-control"
                type="password"
                id="account-confirm-pass"
                name="password_confirmation"
        />
    </div>

    <hr>
    <div class="col-12">
        <hr class="mt-2 mb-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">

            <button
                    class="btn btn-primary"
                    type="submit"
            >
                {{__('Change Password')}}
            </button>
        </div>
    </div>
</form>