{% extends 'cms::frontend.profile.layout' %}

{% block profile_content %}

    <form method="post" action="" class="row profile-form">
        <input type="hidden" name="_method" value="PUT">

        {{ csrf_field() }}

        <div class="col-md-6">
            <div class="form-group">
                <label for="account-fn">{{ __('Name') }}</label>
                <input class="form-control" type="text" name="name" value="{{ old('name', user.name) }}">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="account-email">{{ __('E-mail') }}</label>
                <input class="form-control" type="email" value="{{ user.email }}" disabled>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="account-fn">{{ __('Birthday') }}</label>
                <input class="form-control" type="date" name="metas[birthday]"
                       value="{{ old('metas.birthday', user.metas.birthday) }}">
            </div>
        </div>

        <hr>

        <div class="col-12">
            <hr class="mt-2 mb-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <button
                        class="btn btn-primary"
                        type="submit"
                >
                    {{ __('Update Profile') }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
